<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <% if (locals.user){%>
    <h1>Welcome back <%= user.username%></h1>
    <%} %>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/sign-up">Sign Up</a>
      </li>
      <li>
        <a href="/login">Login</a>
      </li>
      <% if(locals.user) {%>
      <li>
        <a href="/logout">Logout</a>
      </li>
      <%}%>
    </ul>
  </body>
</html>
